<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ReEncode.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <ReEncode.My.MySettings>
            <setting name="VideoOpt" serializeAs="String">
                <value>-e qsv_h265 --encoder-preset quality</value>
            </setting>
            <setting name="AudioOpt" serializeAs="String">
                <value>--all-audio -E copy</value>
            </setting>
            <setting name="SubsOpt" serializeAs="String">
                <value>--all-subtitles</value>
            </setting>
            <setting name="ResSD" serializeAs="String">
                <value>-q 20 </value>
            </setting>
            <setting name="Res1080" serializeAs="String">
                <value>-q 18</value>
            </setting>
            <setting name="Res720" serializeAs="String">
                <value>-q 19</value>
            </setting>
            <setting name="Res480" serializeAs="String">
                <value>-q 20</value>
            </setting>
            <setting name="Res576" serializeAs="String">
                <value>-q 20</value>
            </setting>
            <setting name="ResHi" serializeAs="String">
                <value>-q 18</value>
            </setting>
            <setting name="OutputExt" serializeAs="String">
                <value>.mkv</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="HandBrakeCLI" serializeAs="String">
                <value />
            </setting>
            <setting name="ScanRoot" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="ScanFilter" serializeAs="String">
                <value>*.ts</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ReplaceOri" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlyIfSmaller" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputSel" serializeAs="String">
                <value>False</value>
            </setting>
        </ReEncode.My.MySettings>
    </userSettings>
</configuration>
